# <span style="font-size: 20pt; font-family: Montserrat, sans-serif; color: rgb(92, 148, 206); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Graded Assignment 3: 9 to 5</span>

  

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Time to show off your SQL skills! For each question, copy the SQL query you used and make note of the answer.</span>

  

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">The Dataset</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">For this assignment, you will be using the Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results which can be found on</span> [<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(17, 85, 204); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">Kaggle</span>](https://www.kaggle.com/bls/employment)<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">.</span>

  

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Business Issue</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">You are working for the Bureau of Labor Statistics with the United States government and have been approached by your boss with an important meeting request. You have been asked by your supervisor to meet with Dolly Parton whose nonprofit is looking to shed light on the state of employment in the United States. As part of the 9 to 5 project, their research is focused on production and nonsupervisory employees and how those employees fare compared to all employees in the United States. While the data the BLS collects from the CES is publicly available, Dolly Parton and her colleagues need your assistance navigating the thousands of rows in each table in LaborStatisticsDB.</span>

  

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">About the Dataset</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">This dataset comes directly from the Bureau of Labor Statistics’ Current Employment Survey (CES). Here are some things you need to know:</span>

1. <span style="font-size: 10pt; background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">The industry table contains an NAICS code. This is different from the industry code. NAICS stands for North American Industry Classification System.</span>
    
2. <span style="font-size: 10pt; background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Series ID is composed of multiple different codes. CES stands for Current Employment Survey, the name of the survey which collected the data. The industry code as specified by the BLS and the data type code as specified in the datatype table.</span>
    

  

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Set Up</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">To connect to the database, use the same connection info used during the SQL lessons.&nbsp;</span> 

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">For the assignment, we will be using the LaborStatisticsDB database.</span>

  

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Database Exploration</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">To start with, let’s get to know the database further.</span>

1. <span style="background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-family: &quot;Times New Roman&quot;; font-size: 10pt; white-space: pre-wrap;">Use this space to make note of each table in the database, the columns within each table, each column’s data type, and how the tables are connected. You can write this down or draw a diagram. Whatever method helps you get an understanding of what is going on with LaborStatisticsDB.</span>

To add a photo, diagram or document to your file, drop the file into the folder that holds this notebook.  Use the the link button to the right of the  \</\> symbol in the gray part of this cell, the link is just the name of your file.

[LaborStatisticsDB Map](vscode-file://vscode-app/c:/Program%20Files/Azure%20Data%20Studio/resources/app/out/vs/code/electron-browser/workbench/LaborStatisticsDB%20Map.jpg)  

[](vscode-file://vscode-app/c:/Program%20Files/Azure%20Data%20Studio/resources/app/out/vs/code/electron-browser/workbench/LaborStatisticsDB%20Map)

[](vscode-file://vscode-app/c:/Program%20Files/Azure%20Data%20Studio/resources/app/out/vs/code/electron-browser/workbench/LaborStatisticsDB%20Map.jpg)[](vscode-file://vscode-app/c:/Program%20Files/Azure%20Data%20Studio/resources/app/out/vs/code/electron-browser/workbench/LaborStatisticsDB%20Map.jpg)

In [16]:
SELECT TOP 5 * FROM LaborStatisticsDB.dbo.annual_2016
SELECT TOP 5 * FROM LaborStatisticsDB.dbo.january_2017
SELECT TOP 5 * FROM LaborStatisticsDB.dbo.datatype
SELECT TOP 5 * FROM LaborStatisticsDB.dbo.footnote
SELECT TOP 5 * FROM LaborStatisticsDB.dbo.industry
SELECT TOP 5 * FROM LaborStatisticsDB.dbo.period
SELECT TOP 5 * FROM LaborStatisticsDB.dbo.seasonal
SELECT TOP 5 * FROM LaborStatisticsDB.dbo.series
SELECT TOP 5 * FROM LaborStatisticsDB.dbo.supersector

id,series_id,year,period,value,footnote_codes,original_file
0,CEU5500000007,2016,M13,36.9,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
1,CEU5500000008,2016,M13,26.11,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
2,CEU5500000030,2016,M13,962.73,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
3,CEU5500000031,2016,M13,411.29,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
4,CEU5500000032,2016,M13,11.15,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv

id,series_id,year,period,value,footnote_codes,original_file
0,CES5500000007,2017,M01,36.9,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
1,CES5500000008,2017,M01,26.27,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
2,CES5500000030,2017,M01,969.36,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
3,CES5500000031,2017,M01,406.67,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
4,CES5500000032,2017,M01,11.02,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv

data_type_code,data_type_text
1,ALL EMPLOYEES
2,AVERAGE WEEKLY HOURS OF ALL EMPLOYEES
3,AVERAGE HOURLY EARNINGS OF ALL EMPLOYEES
4,AVERAGE WEEKLY OVERTIME HOURS OF ALL EMPLOYEES
6,PRODUCTION AND NONSUPERVISORY EMPLOYEES

footnote_code,footnote_text
I,Seasonally Adjusted Independently. See https://www.bls.gov/web/empsit/cestn.htm#SA_ind for details.
P,preliminary

id,industry_code,naics_code,publishing_status,industry_name,display_level,selectable,sort_sequence
0,0,-,B,Total nonfarm,0,T,1
1,5000000,-,A,Total private,1,T,2
2,6000000,-,A,Goods-producing,1,T,3
3,7000000,-,B,Service-providing,1,T,4
4,8000000,-,A,Private service-providing,1,T,5

period_code,month_abbr,month
M01,JAN,January
M02,FEB,February
M03,MAR,March
M04,APR,April
M05,MAY,May

industry_code,seasonal_text
S,Seasonally Adjusted
U,Not Seasonally Adjusted

series_id,supersector_code,industry_code,data_type_code,seasonal,series_title
CES0000000001,0,00000000,1,S,All employees
CES0000000010,0,00000000,10,S,Women employees
CES0000000025,0,00000000,25,S,All employees
CES0000000026,0,00000000,26,S,All employees
CES0500000001,5,05000000,1,S,All employees

supersector_code,supersector_name
0,Total nonfarm
5,Total private
6,Goods-producing
7,Service-providing
8,Private service-providing

2. <span style="background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-family: Arvo, serif; font-size: 10pt; white-space: pre-wrap;">What is the datatype for women employees?</span>

> **<mark>10</mark>**

In [18]:
SELECT * FROM LaborStatisticsDB.dbo.datatype
WHERE data_type_text LIKE '%women%' AND data_type_text LIKE '%employee%'

data_type_code,data_type_text
10,WOMEN EMPLOYEES
39,WOMEN EMPLOYEES-TO-ALL EMPLOYEES RATIO

3. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">What is the series id for&nbsp; women employees in the commercial banking industry in the financial activities supersector?</span>

> <span style="font-size: 13.3333px; white-space: pre-wrap; background-color: yellow;"><b>Two series ids: CES5552211010 (seasonally adjusted), CEU5552211010 (not seasonally adjusted)</b></span>

In [19]:
SELECT series.series_id, series.data_type_code, industry.industry_name, supersector.supersector_name
FROM (LaborStatisticsDB.dbo.series as series JOIN LaborStatisticsDB.dbo.supersector as supersector ON series.supersector_code = supersector.supersector_code) JOIN LaborStatisticsDB.dbo.industry as industry ON series.industry_code = industry.industry_code
WHERE series.data_type_code = 10 AND industry.industry_name LIKE '%banking%' AND supersector.supersector_name LIKE '%financial%'

series_id,data_type_code,industry_name,supersector_name
CES5552211010,10,Commercial banking,Financial activities
CEU5552211010,10,Commercial banking,Financial activities

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Join in on the Fun</span>

<span style="font-size: 10pt; font-family: Arvo, serif; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Time to start joining! You can choose the type of join you use, just make sure to make a&nbsp; note!</span>

1. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Join&nbsp; annual_2016 with series on series_id. We only want the data in the annual_2016 table to be included in the result.</span>

**<mark>Are you looking for it to display only the columns in the annual\_2016 table? Not sure what you're looking for here. What's the point of joining if you're not going to pull from and view columns from both tables?</mark>**

In [22]:
SELECT TOP 10 a2016.id, a2016.series_id, a2016.year, a2016.period, a2016.value, a2016.footnote_codes, a2016.original_file
FROM LaborStatisticsDB.dbo.annual_2016 as a2016 LEFT JOIN LaborStatisticsDB.dbo.series as series ON a2016.series_id = series.series_id

id,series_id,year,period,value,footnote_codes,original_file
0,CEU5500000007,2016,M13,36.9,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
1,CEU5500000008,2016,M13,26.11,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
2,CEU5500000030,2016,M13,962.73,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
3,CEU5500000031,2016,M13,411.29,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
4,CEU5500000032,2016,M13,11.15,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
5,CEU5500000034,2016,M13,111.6,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
6,CEU5500000035,2016,M13,179.2,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
7,CEU5500000081,2016,M13,236997,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
8,CEU5500000082,2016,M13,6189003,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
9,CEU5552200007,2016,M13,37.3,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Join series and datatype on data_type_code</span>

In [21]:
SELECT TOP 10 *
FROM LaborStatisticsDB.dbo.series as series FULL OUTER JOIN LaborStatisticsDB.dbo.datatype as datatype ON series.data_type_code = datatype.data_type_code

series_id,supersector_code,industry_code,data_type_code,seasonal,series_title,data_type_code,data_type_text
CES0000000001,0,00000000,1,S,All employees,1,ALL EMPLOYEES
CES0000000010,0,00000000,10,S,Women employees,10,WOMEN EMPLOYEES
CES0000000025,0,00000000,25,S,All employees,25,ALL EMPLOYEES
CES0000000026,0,00000000,26,S,All employees,26,ALL EMPLOYEES
CES0500000001,5,05000000,1,S,All employees,1,ALL EMPLOYEES
CES0500000002,5,05000000,2,S,Average weekly hours of all employees,2,AVERAGE WEEKLY HOURS OF ALL EMPLOYEES
CES0500000003,5,05000000,3,S,Average hourly earnings of all employees,3,AVERAGE HOURLY EARNINGS OF ALL EMPLOYEES
CES0500000006,5,05000000,6,S,Production and nonsupervisory employees,6,PRODUCTION AND NONSUPERVISORY EMPLOYEES
CES0500000007,5,05000000,7,S,Average weekly hours of production and nonsupervisory employees,7,AVERAGE WEEKLY HOURS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
CES0500000008,5,05000000,8,S,Average hourly earnings of production and nonsupervisory employees,8,AVERAGE HOURLY EARNINGS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES

3. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Join series and industry on industry_code</span>

In [22]:
SELECT TOP 10 *
FROM LaborStatisticsDB.dbo.series as series FULL OUTER JOIN LaborStatisticsDB.dbo.industry as industry ON series.industry_code = industry.industry_code

series_id,supersector_code,industry_code,data_type_code,seasonal,series_title,id,industry_code,naics_code,publishing_status,industry_name,display_level,selectable,sort_sequence
CES0000000001,0,00000000,1,S,All employees,0,0,-,B,Total nonfarm,0,T,1
CES0000000010,0,00000000,10,S,Women employees,0,0,-,B,Total nonfarm,0,T,1
CES0000000025,0,00000000,25,S,All employees,0,0,-,B,Total nonfarm,0,T,1
CES0000000026,0,00000000,26,S,All employees,0,0,-,B,Total nonfarm,0,T,1
CES0500000001,5,05000000,1,S,All employees,1,5000000,-,A,Total private,1,T,2
CES0500000002,5,05000000,2,S,Average weekly hours of all employees,1,5000000,-,A,Total private,1,T,2
CES0500000003,5,05000000,3,S,Average hourly earnings of all employees,1,5000000,-,A,Total private,1,T,2
CES0500000006,5,05000000,6,S,Production and nonsupervisory employees,1,5000000,-,A,Total private,1,T,2
CES0500000007,5,05000000,7,S,Average weekly hours of production and nonsupervisory employees,1,5000000,-,A,Total private,1,T,2
CES0500000008,5,05000000,8,S,Average hourly earnings of production and nonsupervisory employees,1,5000000,-,A,Total private,1,T,2

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Aggregate Your Friends and Code some SQL</span>

<span style="font-size: 10pt; font-family: Arvo, serif; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Put together the following:</span>

1. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">How many employees were reported in 2016 in all industries? Round to the nearest whole number.&nbsp; No chopping people into little bits, please.</span>

<span style="font-size: 13.3333px; white-space: pre-wrap; background-color: yellow;"><b style="">2,340,612 total employees.</b></span>

In [19]:
SELECT round(sum(a2016.value),0) as 'Total Number of Employees'
FROM (LaborStatisticsDB.dbo.annual_2016 as a2016 JOIN LaborStatisticsDB.dbo.series as series ON a2016.series_id = series.series_id) JOIN LaborStatisticsDB.dbo.datatype as datatype ON series.data_type_code = datatype.data_type_code
WHERE datatype.data_type_text = 'ALL EMPLOYEES'

Total Number of Employees
2340612

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">How many women employees were reported in 2016 in all industries? Round to the nearest whole number.&nbsp;</span> 

 **<mark>1,125,490 women employees.</mark>**

<span style="font-size: 13.3333px; white-space: pre-wrap;"><br></span>

In [12]:
SELECT round(sum(a2016.value),0) as 'Total Number of Women Employees'
FROM LaborStatisticsDB.dbo.annual_2016 as a2016 JOIN LaborStatisticsDB.dbo.series as series ON a2016.series_id = series.series_id
WHERE series.data_type_code = 10

Total Number of Women Employees
1125490

3. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">How many production/nonsupervisory employees were reported in 2016? Round to the nearest whole number.&nbsp;</span> 

 **<mark>1,263,650 production/nonsupervisory employees.</mark>**

<span style="font-size: 13.3333px; white-space: pre-wrap;"><br></span>

In [21]:
SELECT round(sum(a2016.value),0) as 'Total Number of Production/NonSupervisory Employees'
FROM (LaborStatisticsDB.dbo.annual_2016 as a2016 JOIN LaborStatisticsDB.dbo.series as series ON a2016.series_id = series.series_id) JOIN LaborStatisticsDB.dbo.datatype as datatype ON series.data_type_code = datatype.data_type_code
WHERE datatype.data_type_text = 'PRODUCTION AND NONSUPERVISORY EMPLOYEES'

Total Number of Production/NonSupervisory Employees
1263650

4. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In January 2017, what is the average weekly hours worked by production and nonsupervisory employees across all industries?</span>

<span style="font-size: 13.3333px; white-space: pre-wrap; background-color: yellow;"><b>33 hours a week.</b></span>

In [41]:
SELECT ROUND(
(SELECT sum(j2017.value) as total_hours
FROM (LaborStatisticsDB.dbo.january_2017 as j2017 JOIN LaborStatisticsDB.dbo.series as series ON j2017.series_id = series.series_id) JOIN LaborStatisticsDB.dbo.datatype as datatype ON series.data_type_code = datatype.data_type_code
WHERE datatype.data_type_text = 'AGGREGATE WEEKLY HOURS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES')
/
(SELECT sum(j2017.value) as total_production_employees
FROM (LaborStatisticsDB.dbo.january_2017 as j2017 JOIN LaborStatisticsDB.dbo.series as series ON j2017.series_id = series.series_id) JOIN LaborStatisticsDB.dbo.datatype as datatype ON series.data_type_code = datatype.data_type_code
WHERE datatype.data_type_text = 'PRODUCTION AND NONSUPERVISORY EMPLOYEES')
,0) as 'Average Weekly Hours Worked by Production and Nonsupervisory Employees Across All Industries'

Average Weekly Hours Worked by Production and Nonsupervisory Employees Across All Industries
33

5. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">What is the total weekly payroll for production and nonsupervisory employees across all industries in January 2017? Round to the nearest penny, please.</span>

<span style="font-size: 13.3333px; white-space: pre-wrap; background-color: yellow;"><b>$1,838,753,220</b></span>

In [46]:
SELECT round(sum(j2017.value),2)
FROM (LaborStatisticsDB.dbo.january_2017 as j2017 JOIN LaborStatisticsDB.dbo.series as series ON j2017.series_id = series.series_id) JOIN LaborStatisticsDB.dbo.datatype as datatype ON series.data_type_code = datatype.data_type_code
WHERE datatype.data_type_text = 'AGGREGATE WEEKLY PAYROLLS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES'

(No column name)
1838753220

6. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In January 2017, which industry was the average weekly hours worked by production and nonsupervisory employees the highest? Which industry was the lowest?</span>

<span style="font-size: 13.3333px; white-space: pre-wrap; background-color: yellow;"><b>Highest average weekly hours in the "Motor vehicle power train components" industry at 49.8 hrs. Lowest average weekly hours in the "Fitness and recreational sports centers" industry at 16.7 hrs.</b></span>

In [97]:
SELECT TOP 10 industry.industry_name, j2017.value
FROM ((LaborStatisticsDB.dbo.january_2017 as j2017 JOIN LaborStatisticsDB.dbo.series as series ON j2017.series_id = series.series_id) JOIN LaborStatisticsDB.dbo.datatype as datatype ON series.data_type_code = datatype.data_type_code) JOIN LaborStatisticsDB.dbo.industry as industry ON series.industry_code = industry.industry_code
WHERE datatype.data_type_text = 'AVERAGE WEEKLY HOURS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES'
ORDER BY j2017.value DESC

SELECT TOP 10 industry.industry_name, j2017.value
FROM ((LaborStatisticsDB.dbo.january_2017 as j2017 JOIN LaborStatisticsDB.dbo.series as series ON j2017.series_id = series.series_id) JOIN LaborStatisticsDB.dbo.datatype as datatype ON series.data_type_code = datatype.data_type_code) JOIN LaborStatisticsDB.dbo.industry as industry ON series.industry_code = industry.industry_code
WHERE datatype.data_type_text = 'AVERAGE WEEKLY HOURS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES'
ORDER BY j2017.value ASC

industry_name,value
Motor vehicle power train components,49.8
Motor vehicle power train components,49.8
Motor vehicle power train components,49.4
Motor vehicle power train components,49.4
NULL,47.4
NULL,47.4
Crushed and broken limestone mining,47.3
Support activities for mining,47.3
Crushed and broken limestone mining,47.3
Support activities for mining,47.3

industry_name,value
Fitness and recreational sports centers,16.7
Fitness and recreational sports centers,16.7
Fitness and recreational sports centers,17
Fitness and recreational sports centers,17
Family clothing stores,17.8
Family clothing stores,17.8
Women's clothing stores,18.1
Civic and social organizations,18.1
Civic and social organizations,18.1
Women's clothing stores,18.1

7. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In January 2021, which industry was the total weekly payroll for production and nonsupervisory employees the highest? Which industry was the lowest?</span>

**<mark>Highest aggregate weekly payroll in "total private" at $74,498,171. Lowest aggregate weekly paroll in "Coin-operated laundries and drycleaners" at $10,079.</mark>**<span style="font-size: 13.3333px; white-space: pre-wrap;"><br></span>

In [96]:
SELECT TOP 10 industry.industry_name, j2017.value
FROM ((LaborStatisticsDB.dbo.january_2017 as j2017 JOIN LaborStatisticsDB.dbo.series as series ON j2017.series_id = series.series_id) JOIN LaborStatisticsDB.dbo.datatype as datatype ON series.data_type_code = datatype.data_type_code) JOIN LaborStatisticsDB.dbo.industry as industry ON series.industry_code = industry.industry_code
WHERE datatype.data_type_text = 'AGGREGATE WEEKLY PAYROLLS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES'
ORDER BY j2017.value DESC

SELECT TOP 10 industry.industry_name, j2017.value
FROM ((LaborStatisticsDB.dbo.january_2017 as j2017 JOIN LaborStatisticsDB.dbo.series as series ON j2017.series_id = series.series_id) JOIN LaborStatisticsDB.dbo.datatype as datatype ON series.data_type_code = datatype.data_type_code) JOIN LaborStatisticsDB.dbo.industry as industry ON series.industry_code = industry.industry_code
WHERE datatype.data_type_text = 'AGGREGATE WEEKLY PAYROLLS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES'
ORDER BY j2017.value ASC

industry_name,value
Total private,74498171
Total private,74498171
Total private,73474302
Total private,73474302
Private service-providing,60914722
Private service-providing,60914722
Private service-providing,60807771
Private service-providing,60807771
Professional and business services,15251268
Professional and business services,15251268

industry_name,value
Coin-operated laundries and drycleaners,10079
Coin-operated laundries and drycleaners,10079
Coin-operated laundries and drycleaners,10145
Coin-operated laundries and drycleaners,10145
Skiing facilities,10564
Skiing facilities,10564
Marinas,11560
Marinas,11560
RV parks and recreational camps,11598
RV parks and recreational camps,11598

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Subqueries, Unions, Derived Tables, Oh My!</span>

1. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Write a query that returns the series_id, industry_code, industry_name, and value from the january_2017 table but only if that value is greater than the average value for annual_2016 of data_type_code 82.</span>

In [63]:
SELECT TOP 10 j2017.series_id, industry.industry_code, industry.industry_name, j2017.value
FROM (LaborStatisticsDB.dbo.january_2017 as j2017 JOIN LaborStatisticsDB.dbo.series as series ON j2017.series_id = series.series_id) JOIN LaborStatisticsDB.dbo.industry as industry ON series.industry_code = industry.industry_code
WHERE j2017.value >
    (SELECT AVG(value)
    FROM LaborStatisticsDB.dbo.annual_2016 as a2016 JOIN LaborStatisticsDB.dbo.series as series ON a2016.series_id = series.series_id
    WHERE data_type_code = 82)

series_id,industry_code,industry_name,value
CES0500000056,5000000,Total private,4239112
CES0500000056,5000000,Total private,4239112
CES0500000057,5000000,Total private,110301694
CES0500000057,5000000,Total private,110301694
CES0500000081,5000000,Total private,3412651
CES0500000081,5000000,Total private,3412651
CES0500000082,5000000,Total private,74498171
CES0500000082,5000000,Total private,74498171
CES0600000057,6000000,Goods-producing,21779094
CES0600000057,6000000,Goods-producing,21779094

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Create a Union table comparing average weekly earnings&nbsp; of production and nonsupervisory employees between annual_16 and january_17 using the data type 30.&nbsp; Round to the nearest penny.&nbsp; You should have a column for the average earnings and a column for the year, and the period.</span>

In [95]:
SELECT TOP 10 round(u.average_weekly_earnings,2) as average_weekly_earnings, u.year, u.period
FROM
    (SELECT value as average_weekly_earnings, year, period
    FROM LaborStatisticsDB.dbo.annual_2016 as a2016 JOIN LaborStatisticsDB.dbo.series as series ON a2016.series_id = series.series_id
    WHERE series.data_type_code = 30
    UNION
    SELECT value as 'Average Weekly Earnings', year, period
    FROM LaborStatisticsDB.dbo.january_2017 as j2017 JOIN LaborStatisticsDB.dbo.series as series ON j2017.series_id = series.series_id
WHERE series.data_type_code = 30) as u
ORDER BY u.average_weekly_earnings DESC

average_weekly_earnings,year,period
1847.47,2017,M01
1812.6,2017,M01
1797.99,2017,M01
1792.27,2017,M01
1773.7,2017,M01
1758.48,2017,M01
1749.56,2017,M01
1749.02,2017,M01
1730.96,2016,M13
1720.42,2016,M13

## <span style="font-size:12pt;font-family:Montserrat, sans-serif;color:rgb(53, 74, 95);background-color:rgb(255, 255, 255);font-weight:700;vertical-align:baseline;white-space:pre-wrap;">Summarize Your Results</span>

<span style="font-size:10pt;font-family:Arvo, serif;color:rgb(102, 102, 102);background-color:rgb(255, 255, 255);vertical-align:baseline;white-space:pre-wrap;">With what you know now about the </span> <span style="background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);font-family:&quot;Times New Roman&quot;;font-size:13.3333px;white-space:pre-wrap;">Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results and working with the</span> <span style="color:rgb(102, 102, 102);white-space:pre-wrap;font-family:&quot;Times New Roman&quot;;font-size:13.3333px;">Labor Statistics Database</span><span style="background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);font-family:Arvo, serif;font-size:10pt;white-space:pre-wrap;">, answer the following questions. Note that while this is subjective, you should include relevant data to back up your opinion.</span>

1. <span style="background-color:rgb(255, 255, 255);font-size:10pt;white-space:pre-wrap;color:rgb(102, 102, 102);font-family:Arvo, serif;">During which time period did production and nonsupervisory employees fare better?</span>

<mark>**Production and nonsupervisory employees fared better in January 2017 than in 2016. The top 8 highest average weekly earnings were in 2017.**</mark>

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In which industries did production and nonsupervisory employees fare better?</span>

**<mark>Production and nonsupervisory employees fared better in the private sectors, specifically in the private services and professional & business services industries. These were the industries with the top 10 highest aggregate weekly payrolls.</mark>**

3. <span style="font-size: 10pt; font-family: Arvo, serif; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Now that you have explored the datasets, is there any data or information that you wish you had in this analysis?</span>

- **<mark>Annual salary ($/yr) to compare against federal poverty levels.</mark>**
- **<mark>Average hourly earnings of women employees.</mark>**
- **<mark>Also, neither women employees: all employees ratio nor production & nonsupervisory employees: all employees ratio has data points.</mark>**